.banner {
    background: url("/img/IMG_3403.PNG");
    background-repeat:round;
    height: 80vh;
    /* position: relative;  */
}

.banner__info {
    background-color: rgb(30, 29, 29);
    color: white;
    padding-top: 3vh;
    padding-left: 100px;
    padding-right: 50px;
    padding-bottom: 30px;
    width: 390px;
    margin: auto;
    
}

.banner__info > button {
    background-color: #ef1b5b;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

.banner__info > button:hover {
    background-color: #ffffff;
    color: rgb(30, 29, 29);
    
}

