.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;

}

.checkoutProduct__info {
    padding-left: 20px;
}

.checkoutProduct__info > button {
    color: rgb(48, 11, 11);
    background: rgb(244, 69, 50);
    border: 1px solid;
    margin-top: 10px;
    border-color: brown rgb(198, 70, 70);
    
}

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__rating {
    display: flex;
}

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}
